<div class="table-category-masters mb-5">
    <div class="d-flex justify-content-between mb-4">
        <h4>カテゴリーマスター</h4>
    </div>
    <div>
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" #formCheck="ngForm">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"><label for="name" class="required">カテゴリ名</label></th>
                        <td><input type="text" name="name" id="" class="form-control" formControlName="name" required></td>
                        <td class="text-right"><input type="submit" class="btn btn-success" value="追加" [disabled]="!formCheck.valid"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <table class="table table-hover" *ngIf="categories">
        <thead class="thead-light">
            <tr>
                <th scope="col">カテゴリー名</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{ category.name }}</td>
                <td class="text-right"><a href="#" routerLink="/masters/category/{{ category.id }}" class="btn btn-secondary">編集</a></td>
                <td class="text-right"><button class="btn btn-danger" (click)="deleteCategory(category)">削除</button></td>
            </tr>
        </tbody>
    </table>
</div>