<header class="mb-5">
        <nav class="navbar navbar-dark bg-success">
            <div class="d-flex justify-content-between">
                <!-- トップページへのリンク -->
                <a class="navbar-brand" href="#" routerLink="/"><fa-icon [icon]="faCarrot" class="mr-1"></fa-icon>FoodManager</a>
                <div>
                    <button class="navbar-toggler d-block m-auto mr-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse" id="navbarToggleExternalContent">
                        <ul class="navbar-nav text-right">
                            <li class="nav-item" *ngIf="isSignedIn">
                                <a href="#" routerLink="/manage" class="nav-link text-white">食材管理<fa-icon [icon]="faUtensils" class="ml-1"></fa-icon></a>
                            </li>
                            <li class="nav-item" *ngIf="isSignedIn">
                                <a href="#" routerLink="/shopping" class="nav-link text-white">買い物リスト<fa-icon [icon]="faShoppingBasket" class="ml-1"></fa-icon></a>
                            </li>
                            <li class="nav-item" *ngIf="isSignedIn">
                                <a href="#" routerLink="/masters" class="nav-link text-white">マスター管理<fa-icon [icon]="faCogs" class="ml-1"></fa-icon></a>
                            </li>
                            <li class="nav-item" *ngIf="isSignedIn">
                                <a href="#" class="nav-link text-white" (click)="signOut()">ログアウト<fa-icon [icon]="faSignOutAlt" class="ml-1"></fa-icon></a>
                            </li>
        
                            <li class="nav-item" *ngIf="!isSignedIn">
                                <a href="#" routerLink="/login" class="nav-link text-white">ログイン<fa-icon [icon]="faSignInAlt" class="ml-1"></fa-icon></a>
                            </li>
                            <li class="nav-item" *ngIf="!isSignedIn">
                                <a href="#" routerLink="/signup" class="nav-link text-white">新規登録<fa-icon [icon]="faUserPlus" class="ml-1"></fa-icon></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
</header>