<header class="mb-5">
    <nav class="navbar navbar-expand-sm navbar-dark bg-success">
        <!-- トップページへのリンク -->
        <a class="navbar-brand" href="#" routerLink="/">FoodManager</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-bar">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav text-right">

                    <!-- ユーザ一覧ページへのリンク -->
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link text-white">食材管理</a>
                    </li> -->
                    <!-- <li class="nav-item"><a href="#" class="nav-link text-white">買い物リスト</a></li> -->
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link text-white">マスター管理</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">ログアウト</a>
                    </li> -->

                    <!-- ログインページへのリンク -->
                    <li class="nav-item">
                        <a href="#" routerLink="/login" class="nav-link text-white">ログイン</a>
                    </li>
                    <!-- 新規登録ページへのリンク -->
                    <li class="nav-item">
                        <a href="#" routerLink="/signup" class="nav-link text-white">新規登録</a>
                    </li>
            </ul>
        </div>
    </nav>
</header>