<form [formGroup]="shoppingItemForm" (ngSubmit)="onSubmit()">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row"><label for="">カテゴリー名</label></th>
                <td>
                    <select name="" id="" class="form-select" (change)="setFoodMasters($event.target); getCategoryChange($event.target)" formControlName="category_master_id">
                        <option value="" disabled>選択してください</option>
                        <option *ngFor="let category of categories;" value="{{category.id}}">{{ category.name }}</option>
                        <option value="new">新しく作る</option>
                    </select>
                    <ng-container *ngIf="categoryNew">
                        <form [formGroup]="categoryForm" (ngSubmit)="newCategory()">
                            <div class="d-flex">
                                <input type="text" class="form-control" formControlName="name">
                                <input type="submit" class="btn btn-success btn block" value="追加">
                            </div>
                        </form>
                    </ng-container>
                </td>
                <td class="text-right"><input type="submit" class="btn btn-success btn block" value="追加"></td>
            </tr>
            <tr>
                <th scope="row"><label for="">食材名</label></th>
                <td>
                    <select name="" id="" class="form-select" (change)="getFoodChange($event.target)" formControlName="food_master_id">
                        <option value="" disabled>選択してください</option>
                        <option *ngFor="let food of foods" [ngValue]="food.id">{{ food.name }}</option>
                        <option value="new" *ngIf="shoppingItemForm.value.category_master_id">新しく作る</option>
                    </select>
                    <ng-container *ngIf="foodNew">
                        <form [formGroup]="foodForm" (ngSubmit)="newFood()">
                            <div class="d-flex">
                                <input type="text" class="form-control" formControlName="name">
                                <input type="hidden" class="form-control" formControlName="category_master_id">
                                <input type="submit" class="btn btn-success btn block" value="追加">
                            </div>
                        </form>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="">数量</label></th>
                <td><input type="number" class="form-control" formControlName="quantity"></td>
            </tr>
            <tr>
                <th scope="row"><label for="">単位</label></th>
                <td><input type="text" class="form-control" formControlName="unit"></td>
            </tr>
        </tbody>
    </table>
</form>