<table class="table">
    create
    <!-- <tbody>
        <tr>
            <th scope="row">{!! Form::label('category_master_id', 'カテゴリー名') !!}</th>
            <td>{!! Form::select('category_master_id', $category_array, null, ['placeholder' => '選択してください', 'class' => 'form-control select-category']) !!}</td>
            <td class="text-right">{!! Form::submit('追加', ['class' => 'btn btn-success btn block']) !!}</td>
        </tr>
        <tr>
            <th scope="row">{!! Form::label('food_master_id', '食材名') !!}</th>
            <td>{!! Form::select('food_master_id', [], null, ['placeholder' => '選択してください', 'class' => 'form-control select-food']) !!}</td>
        </tr>
        <tr>
            <th scope="row">{!! Form::label('quantity', '数量') !!}</th>
            <td>{!! Form::number('quantity', null, ['class' => 'form-control']) !!}</td>
        </tr>
        <tr>
            <th scope="row">{!! Form::label('unit', '単位') !!}</th>
            <td>{!! Form::text('unit', null, ['class' => 'form-control']) !!}</td>
        </tr>
    </tbody> -->
</table>
<!-- {!! Form::hidden('shopping_list_id', $shopping_list->id) !!} -->