<div class="manage-page">
    <div class="text-left">
        <h2 class="text-success mb-5">食材管理</h2>
    </div>
    <div class="table-category-masters mb-5">
        <div class="d-flex justify-content-between mb-4">
            <h4>食材詳細</h4>
            <a href="#" class="btn btn-success btn block">編集</a>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">食材ID</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">食材名</th>
                    <td>テスト</td>
                </tr>
                <tr>
                    <th scope="row">数量</th>
                    <td>テスト</td>
                </tr>
                <tr>
                    <th scope="row">単位</th>
                    <td>テスト</td>
                </tr>
                <tr>
                    <th scope="row">消費期限</th>
                    <td>テスト</td>
                </tr>
                <tr>
                    <th scope="row">登録日</th>
                    <td>テスト</td>
                </tr>
                <tr>
                    <th scope="row">更新日</th>
                    <td>テスト</td>
                </tr>
            </tbody>
        </table>
        <!-- データ削除フォーム -->
        <button class="btn btn-danger d-block m-auto">削除</button>
    </div>
</div>