<div class="top-page">
    <!-- ログイン時以外 -->
    <div *ngIf="!isSignedIn">
        <div class="center firstview">
            <div class="text-center jumbotron">
                <h1 class="text-success fw-bold"><fa-icon [icon]="faCarrot" class="mr-1"></fa-icon>FoodManager</h1>
            </div>
        </div>
        <div class="center">
            <div class="text-center">
                <p>FoodManagerを使うと、<br>面倒な食材管理が簡単にできます。</p>
            </div>
        </div>
        <!-- ユーザ登録ページへのリンク -->
        <div class="text-center">
            <a href="#" routerLink="/signup" class="btn btn-success btn-lg mb-3">FoodManagerを始める</a>
        </div>
        <!-- ログインページへのリンク -->
        <div class="text-center">
            <a href="#" routerLink="/login" class="btn btn-secondary btn-lg mb-3">すでに登録済みの方</a>
        </div>
    </div>

    <!-- ログイン時 -->
    <div *ngIf="isSignedIn">
        <!-- <div class="center">
            <div class="text-center" *ngIf="UserProfile">
                <p>{{ UserProfile?.name }}さん、こんにちは。</p>
                <p>食材の管理ってめんどくさいですよね。</p>
            </div>
        </div> -->
        <div class="reminder">
            <h4 class="text-success"><fa-icon [icon]="faStopwatch" class="mr-1"></fa-icon>消費期限リマインド</h4>
            <div class="container border border-2 rounded">
                <ul>
                    <li *ngFor="let foodManage of foodManages" class="mb-1">
                        <a href="" class="text-decoration-none"><span class="text-danger"><fa-icon [icon]="faExclamationTriangle" class="ml-1"></fa-icon></span>{{ foodManage.food_master_name }}の消費期限（{{ foodManage.expiration_date | date: 'yyyy/MM/dd'}}）が近づいています。</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="text-center">
                <a href="#" routerLink="/manage" class="btn btn-success btn-lg mb-3">食材を管理する<fa-icon [icon]="faUtensils" class="ml-1"></fa-icon></a>
            </div>
            <div class="text-center">
                <a href="#" routerLink="/shopping" class="btn btn-success btn-lg mb-3">買い物リストを作る<fa-icon [icon]="faShoppingBasket" class="ml-1"></fa-icon></a>
            </div>
            <div class="text-center">
                <a href="#" routerLink="/masters" class="btn btn-secondary btn-lg mb-3">マスターを管理する<fa-icon [icon]="faCogs" class="ml-1"></fa-icon></a>
            </div>
        </div>
    </div>
</div>