<div class="top-page">
    <div class="center firstview">
        <div class="text-center jumbotron">
            <h1 class="text-success">FoodManager</h1>
        </div>
    </div>
    <div class="center">
        <div class="text-center">
            <p>FoodManagerを使うと、<br>面倒な食材管理が簡単にできます。</p>
        </div>
    </div>
    <!-- ユーザ登録ページへのリンク -->
    <div class="text-center">
        <a href="#" class="btn btn-success btn-lg mb-3">FoodManagerを始める</a>
    </div>
    <!-- ログインページへのリンク -->
    <div class="text-center">
        <a href="#" class="btn btn-secondary btn-lg mb-3">すでに登録済みの方</a>
    </div>
</div>