<div class="text-center">
    <h1>新規登録</h1>
</div>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <form action="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Errors -->
            <ul *ngIf="errors" class="alert alert-danger p-4 pt-2 pb-2">
                <li *ngIf="errors.name">{{ errors.name}}</li>
                <li *ngIf="errors.email">{{ errors.email}}</li>
                <li *ngIf="errors.password">{{ errors.password}}</li>
                <li *ngIf="errors.password_confirmation">{{ errors.password_confirmation}}</li>
            </ul>
            <div class="form-group">
                <label for="text">ニックネーム</label>
                <input type="text" id="name" class="form-control" formControlName="name">
            </div>

            <div class="form-group">
                <label for="email">メールアドレス</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>

            <div class="form-group">
                <label for="password">パスワード</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>

            <div class="form-group">
                <label for="password_confirmation">パスワード（確認）</label>
                <input type="password" id="password_confirmation" class="form-control" formControlName="password_confirmation">
            </div>

            <input type="submit" class="btn btn-success btn-block" value="新規登録">
        </form>

        
        <!-- ログインページへのリンク -->
        <p class="mt-2 text-center ">
            <a href="#" routerLink="/login" class="text-secondary">ログイン</a>
        </p>
    </div>
</div>