<div class="table-food-masters">
    <div class="d-flex justify-content-between mb-4">
        <h4>食材マスター</h4>
    </div>
    
    <div>
        <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"><label for="">カテゴリー名</label></th>
                        <td>
                            <select *ngIf="categories" name="category_master_id" id="" class="form-select" formControlName="category_master_id">
                                <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                            </select>
                        </td>
                        <td><input type="submit" class="btn btn-success" value="登録"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="">食材名</label></th>
                        <td><input type="text" class="form-control" formControlName="name"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row"><label for="name">カテゴリー名</label></th>
                    <td><input type="text" name="name" id="" class="form-control" formControlName="name"></td>
                    <td><input type="submit" class="btn btn-success" value="追加"></td>
                </tr>
            </tbody>
        </table>
    </form> -->


    <table class="table table-hover" *ngIf="foods">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">カテゴリーID</th>
                <th scope="col">カテゴリー名</th>
                <th scope="col">食材名</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of foods">
                <th scope="row"><a href="">{{ food.id }}</a></th>
                <td>{{ food.category_master_id }}</td>
                <td>{{ food.category_master_name }}</td>
                <td>{{ food.name }}</td>
            </tr>
        </tbody>
    </table>

</div>