<div class="table-food-masters">
    <div class="d-flex justify-content-between mb-4">
        <h4>食材マスター</h4>
    </div>
    
    <div>
        <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"><label for="">カテゴリー名</label></th>
                        <td>
                            <select *ngIf="categories" name="category_master_id" id="" class="form-select" formControlName="category_master_id">
                                <option value="" disabled>選択してください</option>
                                <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
                            </select>
                        </td>
                        <td class="text-right"><input type="submit" class="btn btn-success" value="追加"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="">食材名</label></th>
                        <td><input type="text" class="form-control" formControlName="name"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <table class="table table-hover" *ngIf="foods">
        <thead class="thead-light">
            <tr>
                <th scope="col">カテゴリー名</th>
                <th scope="col">食材名</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of foods">
                <td>{{ food.category_master_name }}</td>
                <td>{{ food.name }}</td>
                <td class="text-right"><a href="#" routerLink="/masters/food/{{ food.id }}" class="btn btn-secondary">編集</a></td>
                <td class="text-right"><button class="btn btn-danger" (click)="deleteFood(food)">削除</button></td>
            </tr>
        </tbody>
    </table>

</div>