<div class="manage-page">
    <div class="text-left">
        <h2 class="text-success mb-5"><fa-icon [icon]="faShoppingBasket" class="mr-1"></fa-icon>買い物リスト管理</h2>
    </div>
    <div class="table-category-masters mb-5">
        <div class="d-flex justify-content-between mb-4">
            <h4>買い物リスト詳細</h4>
            <a href="#" routerLink="edit" class="btn btn-secondary btn block">編集</a>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">タイトル</th>
                    <td>{{ shoppingList?.title }}</td>
                </tr>
                <tr>
                    <th scope="row">登録日</th>
                    <td>{{ shoppingList?.created_at }}</td>
                </tr>
                <tr>
                    <th scope="row">更新日</th>
                    <td>{{ shoppingList?.updated_at }}</td>
                </tr>
                <tr>
                    <th scope="row">食材管理への登録</th>
                    <td>{{ shoppingList?.status_label }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between mb-4">
        <h4>買い物リストアイテム一覧</h4>
    </div>
    <app-shopping-item-create (changeEvent)="change()"></app-shopping-item-create>
    <app-shopping-item-list [changeFlag]="changeFlag"></app-shopping-item-list>
</div>