<div class="manage-page">
    <div class="text-left">
        <h2 class="text-success mb-5"><fa-icon [icon]="faShoppingBasket" class="mr-1"></fa-icon>買い物リスト管理</h2>
    </div>
    <div class="d-flex justify-content-between mb-4">
        <h4>買い物リスト一覧</h4>
        <a href="#" routerLink="create" class="btn btn-success btn block">登録</a>
    </div>
    <div class="table-category-masters mb-5">
        <table class="table table-hover table-responsive-md">
            <thead class="thead-light">
                <tr>
                    <th scope="col">タイトル</th>
                    <th scope="col">登録日</th>
                    <th scope="col">更新日</th>
                    <th scope="col">食材管理への登録</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shoppingList of shoppingLists">
                    <td>{{ shoppingList.title }}</td>
                    <td>{{ shoppingList.created_at }}</td>
                    <td>{{ shoppingList.updated_at }}</td>
                    <td>{{ shoppingList.status_label }}</td>
                    <td class="text-right">
                        <a href="#" routerLink="{{ shoppingList.id }}" class="btn btn-secondary">詳細</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>